@media (max-width: 320px){

}
@media (max-width: 375px){
    .static-promotional-banners{
        .static-promotional-banners-3x,
        .static-promotional-banners-delivery{
            p{
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px){
    header{
        form{
            margin: 20px 0;
            padding-top: 15px;
        }
    }
    #promotional-banners{
        display: none;
    }
    .products{
        .products-container img{
            width: 100%;
        }
    }
}
@media (max-width: 991px){
    header{
        ul{
           li{
            margin: 7px 0;
           }
        }
    }
}